[*.java]
ij_java_class_count_to_use_import_on_demand = 100
ij_java_imports_layout = javax.**,|,java.**,|,*,|,org.springframework.**,|,$*
ij_java_layout_static_imports_separately = true
ij_java_names_count_to_use_import_on_demand = 100
