---
# The name of your project
title: Spring CredHub

badges:

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-credhub
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/spring-projects/spring-credhub/issues
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.spring.io/browse/SPRINGCREDHUB-CORE
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-credhub
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

{% capture billboard_description %}

Spring CredHub provides client-side support for storing, retrieving, and deleting credentials from a [CredHub](https://docs.cloudfoundry.org/credhub/) server running in a [Cloud Foundry](https://www.cloudfoundry.org/) platform.

{% endcapture %}

{% capture main_content %}

[CredHub](https://github.com/cloudfoundry-incubator/credhub) provides an [API](http://credhub-api.cfapps.io/) to securely store, generate, retrieve, and delete credentials of various types. Spring CredHub provides a Java binding for the CredHub API, making it easy to integrate Spring applications with CredHub.

## Features

* Storing, retrieving, and deleting all CredHub credential types - user, password, certificate, RSA, SSH, value (arbitrary string), and JSON.
* Generating credential types user, password, certificate, RSA, and SSH.
* Interpolating Cloud Foundry service binding credentials that contain CredHub references.

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

## Configure CredHub

Spring CredHub will auto configure a `CredHubTemplate` if you provide the `spring.credhub.url` property to your Spring Boot application.

## Inject and Use CredHubTemplate

This configuration will result in a `CredHubTemplate` bean being configured and added to the Spring application context. The `CredHubTemplate` can be used through its `CredHubOperations` interface.

The following is an example of setting a new credential in CredHub:

```java
public class MyApp {
  @Autowired
  CredHubOperations credHubOperations;

  public void writeAndDeleteCredential() {
    PasswordCredentialRequest request =
      PasswordCredentialRequest.builder()
        .overwrite(true)
        .name(new SimpleCredentialName("spring-credhub", "demo"))
        .value(new PasswordCredential("secret"))
        .build();

    CredentialDetails<PasswordCredential> storedCredential =
        credHubOperations.write(request);

    CredentialDetails<PasswordCredential> retrievedCredential =
        credHubOperations.getById(storedCredential.getId());

    credHubOperations.deleteByName(storedCredential.getName());
  }
}
```

The following is an example of generating a new credential in CredHub:

```java
public class MyApp {
  @Autowired
  CredHubOperations credHubOperations;

  public void generateCredential() {
    PasswordParametersRequest request =
      PasswordParametersRequest.builder()
        .overwrite(true)
        .name(new SimpleCredentialName("spring-credhub", "demo"))
        .parameters(PasswordParameters.builder()
            .length(20)
            .excludeLower(false)
            .excludeUpper(false)
            .excludeNumber(false)
            .includeSpecial(true)
            .build())
        .build();

    CredentialDetails<PasswordCredential> credential =
        credHubOperations.generate(request);
  }
}
```

## Authentication

CredHub supports two authentication methods: mutual TLS and OAuth2.

### Mutual TLS

Mutual TLS is the default authentication scheme used when no other authentication configuration is provided.

Mutual TLS support on Cloud Foundry requires the  the Container Security Provider feature of the Java Buildpack. Applications using Spring CredHub should be deployed to Cloud Foundry using Java Buildpack [3.17](https://github.com/cloudfoundry/java-buildpack/releases/tag/v3.17) or greater, or [4.1](https://github.com/cloudfoundry/java-buildpack/releases/tag/v4.1) or greater.

### OAuth2

The following configuration can be provided in a Spring Boot application using Spring CredHub (e.g. in `application.yml`) to enable OAuth2 authentication to a CredHub server.

```yaml
spring:
  credhub:
    oauth2:
      client-id: [OAuth2 client ID]
      client-secret: [OAuth2 client secret]
      access-token-uri: [OAuth2 token server endpoint]
```



{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Spring CredHub Demo](https://github.com/spring-projects/spring-credhub/tree/master/spring-credhub-demo)

{% endcapture %}


{% include project_page.html %}
</html>
